@{
    ViewData["Title"] = "Destinos Mágicos";
}


<div class="text-center">
    <h1 class="display-4">Seja Bem Vindo (a)</h1>
    <p>Destinos Mágicos, onde sua viagem irá ser encantadora e inesquecível!!!</p>
</div>