@model ProjetoBancoDados.Models.Pacotes

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Pacotes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PacotesNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PacotesNome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn-primary" asp-route-id="@Model?.PacotesId"><i class="fa-solid fa-pen-to-square"></i></a>
    <a asp-action="Index" class="btn-primary">Voltar à Lista</a>
</div>
